@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'EarlyFontDiary';
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: 800% 800%;
    -webkit-animation: AnimationName 50s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    -o-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;
  
    background: linear-gradient(-45deg, #c8d7f0, #f5f7fa, #3cbdec, #7dffe1);
    background-size: 400% 400%;
    animation: AnimationName 25s ease infinite;
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.outer-div {
    margin-top: 90px;
    text-align: center;
    padding: 30px;
}
.inner-div {
    background-color: white;
    width: 600px;
    height: 700px;
    display: inline-block;
}

table{
    margin-left:auto; 
    margin-right:auto;
    margin-top: 20%;
}
#label{
    font-size:15px;
    text-align: left;
    padding-bottom: 10px;
}
input:focus {outline: none;}
input {
    margin-bottom: 15px;
    background-color: #dce6f5;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

button{
    margin-top: 15px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    background-color: #a0c6ff;
    color: white;
}


#div-register{
    margin-right: 135px;
    text-align: right;
    padding: 10px;
}
span {
    font-family: 'Pretendard-Regular';
    font-size: 12px;
}
a{
    font-family: 'Pretendard-Regular';
    text-decoration: none;
    color: #4790ff;
    font-weight: bold;
    font-size: 13px;
}
