<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/style/list.css" rel="stylesheet">
        <title><%= name %>의 메모장 </title>
    </head>
    <body>
        <div class="outer-div">
            <div class="inner-div">
                
                <div id="div-etc">
                    <p id="page_title">나의 메모 리스트&nbsp;|&nbsp;</p> 
                    <a href="/" id="home"><span>&nbsp;HOME</span></a> 
                    <a href="/add" id="add"><img src="/style/add_icon.png" width="23px"/></a> 
                </div>
                
                <table>
                    <tr class="label">
                        <td class="date">날짜</td>
                        <td class="title">제목</td>
                        <td class="writer">작성자</td>
                    </tr>

                    <% data.forEach(function (item, index){ %>
                    <tr onclick="location.href='/detail/<%= item.post_num  %>'"> <!-- 반목문으로 돌릴 것 -->
                        <td class="date"><%= item.date  %></td>
                        <td class="title"><%= item.title  %></td>
                        <td class="writer"><%= name  %> </td>
                    </tr>
                    <% }); %>      

                </table>
            </div>
        </div>
    </body>
</html>