<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= name %>의 메모장</title>
        <link href="/style/update.css" rel="stylesheet">
    </head>
    <body>
        <div class="outer-div">
            <div class="inner-div">
                <h5><a href="/detail/<%= data.post_num %>">< 돌아가기</a></h5>
                <form method="post">
                    <table>
                        <tr>
                            <td id="title"><input type="text" name="title" value="<%= data.title %> "/></td>
                        </tr>
                        <tr> 
                            <td id="date"><input type="date" name="date" id="currentDate" readonly/></td>
                            <script>
                                document.getElementById('currentDate').valueAsDate = new Date();
                            </script>
                        </tr>   
                        <tr>
                            <td id="content"><textarea name="content"><%= data.content %></textarea></td>
                        </tr>
                        <tr>
                            <td id="etc"><button type="submit">수정 완료</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>